@{
    // aqui nesse bloco podemos incluir código de c#, fora desse bloco não.
    ViewData["Title"] = "Sobre";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Dev: @ViewData["Dev"]</p>

<address>
    <strong>
        Para mais informações: </strong> <a href="#">Teste.com.br</a>
</address>